/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: $color__background-screen;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color__text-screen;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: $base__space-unit;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $base__space-unit;
}

.aligncenter {
	clear: both;
	@include center-block;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clearfix {
	clear: both;
	content: "";
	display: table;
}
// ************ GLOBAL VARIABLES
body {
  font-size: 16px;
 }
  p {
    color: $font-color;
    font-family: $font-main;
    font-size: 1rem;
    line-height: 1.75;
  }
  h1 {
    color: $font-color;
    font-family: 'Novocento', sans-serif;
    line-height: 1.75;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 2.5rem;
    font-weight: 200;
  }
  h2 {
     font-family: 'Novocento', sans-serif;
     text-transform: uppercase;
     font-size: 1.2rem;
  }
  
  h3 {
    font-family: 'Novocento', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 16px;
    padding-bottom: 20px;
  }
  h1.entry-title {
    display: none;
  }
  .bold {
    font-weight: bold;
  }