/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
p {
  color: #404040;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.75;
}
h1 {
  color: #404040;
  font-family: 'Merriweather', serif;
  line-height: 1.75;
}
h3 {
  font-family: 'Merriweather', serif;
  color: grey;
}
h1.entry-title {
  display: none;
}
/* ******** Front page */
  .frontpage-hero {
    background-image:url("../../images/home-hero.jpg");
    background-size: cover;
    height: 700px; 
    display: block;
  }
  .site-main-front-page {
        h2.entry-title {
          display: none;
        } 
  }


// ************ Header 

  // Main bar parent <header>
  .site-header {
    height: 70px;
    display: flex;
    position: fixed;
    width: 100vw;
    opacity: .9;
    border-bottom: 1px solid #e1e1e1;
    background-color: white;
    padding-left: 100px;
    z-index: 999;
  }
  // Tent icon line 34
  .header-logo {
      height: 70px;
      width: 70px;
      background-image:url("../../images/logos/inhabitent-logo-tent-white.svg");
      background-size: 100% 100%;
  }
  // Link bar parnt line 35
  .main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
       a 
       { text-decoration: none;
       color: #248A83;
       font-size: 20px;
       padding: 15px;
       padding-top: 18px;
      } 
      h2.entry-title {
        display: none;
      }
      i {
        padding: 10px;
        height: 40px;
        color: #248A83;
        position: relative;
        bottom: 18px;
        right: 10px;
      }
    }
  

// ************* Footer
    footer {
        height: 385px;
        background-image:url("../../images/dark-wood@2x.png");
    p {
      color: white;
          }
    h2 {
      color: #d99054;
          }
    i {
      padding: 5px; 
      color: white;
      height: 20px;
      width: auto;
          }
    a {
      color: white;
          }
        }
  // Footer container line 14
    .footer-container {
      width: 1120px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      height: 344px;
      align-items: center;
    }
  // Block propertys line 16,22,28.
    .footer-block {
      height: 220px;
      width: 280px;
      display: block;
      margin: 0 auto;
    }
    .footer-block:nth-child(3) {
      width: 560px;
    }
    // Logo inside block 3 line 29
    .footer-logo {
      height: 70px;
      background-image: url("../../images/logos/inhabitent-logo-text.svg");
      background-size: 100% 100%;
    }
    // Copyright info
    .site-info {
      text-align: center;
    }

// ************ About
  .about-photo {
      height: 965px;
      background-image: url("../../images/about-hero.jpg");
      background-size: 100% 100%;
  }
  .site-about .p3 {
    font-size: 33px;
    text-transform: uppercase;
  }

// ************ Contact page
    .site-content-contact{
      width: 1120px;  
      display: flex;
      flex-direction: columns;
      padding-top: 70px;
      // Content from WP
          .entry-content {
            text-align: left;
            width: 910px;
            p {
              width: 600px;
            }
          }
    }
    
// ********* Sidebar
   // Primary sidebar container
  .sidebar-container {
    width: 300px;
    min-width: 300px;
    padding-left: 20px;
    border-left: 1px solid grey;
    display: block;
    a {
      color: #248A83;
      text-decoration: none;
    }
    li {
      list-style: none;
    }
    ul {
      position: relative;
      right: 90px;
    } 
    i {
      font-size: 30px;
      padding: 10px;
    }
  } 
  // Archive 
   aside.widget_archive {
      display: block;
   }
  
  
   

  
  
// ************ Journal

  // Text above feature image
  
  .blog {
      .entry-header {
        position: relative;
            img {
              padding-left: 100px;
              width: 860px;
            }
            h2 { 
              width: 400px;
              background-color: #248A83;
              font-size: 33.6px;
              position: absolute;
              top: 10px;
              left: 100px;
              padding: 10px;
                a {
                  color: white;
                  text-decoration: none;
                }
              }
            }
            // Blog content    
        .entry-content p {
          color: black;
          position: relative;
          width: 700px;
          margin: 0 auto;
    }
   }
    
    // Generated container name
    .blog {
        // Date info
      .entry-meta {
        background-color: #248A83;
        position: relative;
        width: 400px;
        left: 460px;
        bottom: 37px;
        color: white;
        padding: 3px;
      }
      .site-content {
        display: flex;
        padding-top: 70px;
        p {
          text-align: left;
        }
      } 
      .site-main {
        width: 910px;
      }
  .site-content {
    width: 1120px;
  }}
    // Content wrapper
        